<div class="clr-row">
  <h1> Employee List Data </h1>
  <button class="btn btn-success btn-custom" (click)="goCreate()">Create</button>
</div>

<br>

<clr-datagrid (clrDgRefresh)="fetchData()">
  <clr-dg-column>No</clr-dg-column>
  <clr-dg-column [clrDgField]="'username'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Username
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'firstName'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      First Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'lastName'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Last Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Email
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'birthDate'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Birth Date
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'basicSalary'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Basic Salary
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Status
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'group'">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      Group
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-placeholder>Sorry, no data available</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let data of employeeMandilist; let i = index" [clrDgItem]="data">
    <clr-dg-cell>{{ pagination.firstItem + i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ data.username }}</clr-dg-cell>
    <clr-dg-cell>{{ data.firstName }}</clr-dg-cell>
    <clr-dg-cell>{{ data.lastName }}</clr-dg-cell>
    <clr-dg-cell>{{ data.email }}</clr-dg-cell>
    <clr-dg-cell>{{ data.birthDate }}</clr-dg-cell>
    <clr-dg-cell style="min-width: 150px;">{{ data.basicSalary | rupiah }}</clr-dg-cell>
    <clr-dg-cell>{{ data.status }}</clr-dg-cell>
    <clr-dg-cell>{{ data.group }}</clr-dg-cell>
    <clr-dg-cell>{{ data.description }}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button class="btn btn-primary btn-block" (click)="goDetail(i)">Detail</button>
        <button class="btn btn-info btn-yellow btn-block" (click)="goEdit(i)">Edit</button>
        <button class="btn btn-danger btn-block" (click)="goDelete(i)">Delete</button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total">
      <clr-dg-page-size [clrPageSizeOptions]="[5, 15,25,50,100,250,500]">data per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{total}} data
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
